.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(108, 105, 130);
  height: 100vh;
  gap: 16px;
}

.font {
  border: none;
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
